In [21]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

In [22]:
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

In [35]:
books = load_data(os.path.join(DIR, 'goodreads_reviews_spoiler_raw.json.gz'))

In [36]:
df = pd.DataFrame(books)

In [37]:
df.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,18245960,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,1,28,5,Sat Aug 26 12:05:52 -0700 2017,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,Tue Aug 15 13:23:18 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,16981,Mon Dec 05 10:46:44 -0800 2016,Wed Mar 22 11:37:04 -0700 2017,0,1,3,,a5d2c3628987712d0e05c4f90798eb67,Recommended by Don Katz. Avail for free in Dec...,,8842281e1d1347389f2ab93d60773d4d
2,28684704,Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,0,22,3,Sat Mar 18 23:22:42 -0700 2017,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",Fri Mar 17 23:45:40 -0700 2017,8842281e1d1347389f2ab93d60773d4d
3,27161156,Wed Nov 09 17:37:04 -0800 2016,Wed Nov 09 17:38:20 -0800 2016,1,5,0,,ced5675e55cd9d38a524743f5c40996e,Recommended reading to understand what is goin...,,8842281e1d1347389f2ab93d60773d4d
4,25884323,Mon Apr 25 09:31:23 -0700 2016,Mon Apr 25 09:31:23 -0700 2016,1,9,4,Sun Jun 26 00:00:00 -0700 2016,332732725863131279a8e345b63ac33e,"I really enjoyed this book, and there is a lot...",Sat May 28 00:00:00 -0700 2016,8842281e1d1347389f2ab93d60773d4d

In [38]:
genres = load_data(os.path.join(DIR, 'goodreads_book_genres_initial.json.gz'))

In [39]:
df1 = pd.DataFrame(genres)

In [40]:
df1.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [60]:
a=list(df1.genres[1].keys())

'fiction'